/* PC */
@media only screen and (min-width: 64em) {
    
}
/* Tablet & mobile */
@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }

    #nav .subnav a { 
        padding: 5px 41px;
    }

    .contact-form .form-control {
        padding: 15px;
    }
 
    .contact-submit-btn {
        font-size: 17px;
    }

    .social-list {
        font-size: 48px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }


    #footer .copyright a {
         padding: 12px 0;
         display: block;
    }
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .contact-info {
        line-height: 2;
    }

    
}

/* Mobile */
@media only screen and (max-width: 46.1875em) {
    .s-col-width,
    .s-col-full {
        width: 100% !important; 
    }

    .s-mt-8 {
        margin-top: 16px !important;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li a{
        padding: 1px 24px;
    }

    #nav > li:first-child  {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 12px;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;

    }

    #header .search-btn {
        display: none;
    }

    #content .member-img {
        width: 60%;
    }



    .contact-form {
        margin-top: 32px;
    }
}