* { /* Reset CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important; 
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
} 

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    width: 100%;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
     content: "";
     display: block;
     clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}


.col-third {
    width: 33.33333%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

/* Main */
#main {

}

html {
    scroll-behavior: smooth;
    font-family: Verdana,sans-serif;
}



#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    
    position: relative;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav a { 
    color: #000;
    padding: 0 12px;
    line-height: 38px;
     
}

#nav .nav-arrow-right {
    font-size: 11px;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0; 
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
}

#nav > li:hover > a, #nav .subnav li:hover a { 
    color: #000;
    background-color: #ccc;
    
}

#nav > li > a {
    color: #fff; 
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}



#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/sliders/slider1.jpeg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute; 
    color: #fff;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
} 

#slider .text-description {
    margin-top: 25px;
    font-size: 15px;
    text-shadow: 0 0 1px BLACK;
}


#content {
    min-height: 1000px;
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
    
#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}
    
#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.5;
}

#content .members-list {  /*member-list là lớp bao 3 imgs */
    margin-top: 32px;

}

#content .member-name {
    font-size: 15px;
    
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;

}
/* Tour section */
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li {
    font: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    background-color: #000;
    width: 24px;
    height: 24px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Places */
.places-list {
    margin-top: 16px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-weight: 600;
    font-size: 15px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-descr {
    margin-top: 15px;
    line-height: 1.4;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
}

.modal-header {
    font-size: 30px;
    background: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-heading-icon {
    margin-right: 15px;
}

.modal-body {
    padding: 16px;
}

label.modal-label {
    display: block;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets:hover {
    opacity: 0.9;
}

#buy-tickets {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
.modal-foooter {
    padding: 16px;
    text-align: right;
}

.modal-foooter a {
    color: #2196F3;
}

/* Contact content */
.contact-content {
    margin-top: 48px;  
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-form {
    font-size: 15px;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    /* display: inline-block; */
}

.contact-info a {
     color: #101aef;
     opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1 ;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form {
    font-size: 15px;
}

/* Map section */
.map-section img{
    width: 100%;
}


#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);

}

#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}